<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
            
        <title>Tim Shaffer | Eat A Burger</title>
            
        <!-- Added link to the jQuery Library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Added link to the local js Library -->
        <script src="/assets/js/burgers.js"></script>

    </head>

	<body>

		{{{ body }}}
	
    </body>

</html>
