body {
    background-color: rgb(196, 233, 255);
}

.row {
    margin: 2.5em;
}

#top-row {
    text-align: center;
}

img {
    width: 35%;

}

#burger-label, #burger-button {
    text-align: center;
}

#burger-label {
    font-weight: bold;
    font-size: large;
}

#to-be-eaten {
    text-align: left;
}

#eaten {
    text-align: right;
}

#burger {
    width: 100%;
}

li {
    list-style-type: none;
    padding: .2em;
    font-style: italic;
    font-weight: bold;
}

.devBurger {
    border: 0;
}

#instructions {
    font-style: italic;
    font-weight: bold;
    font-size: large;
    font-family: 'Palatino Linotype';
}