body {
    background-color: rgb(196, 233, 255);
}

.row {
    margin: 2.5em;
}

#top-row {
    text-align: center;
}

img {
    width: 35%;

}

#burger-label, #burger-button {
    text-align: center;
}

#to-be-eaten {
    text-align: left;
}

#eaten {
    text-align: right;
}

#burger {
    width: 100%;
}

li {
    list-style-type: none;
    padding: .2em;
}

.devBurger {
    border: 0;
}